body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #03B6B4;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#opponent {
    display: block;
    text-align: center;
}

.input-error {
    background-color: #fce4e4;
    border: 2px solid #cc0033;
    outline: none;
}


#canvas {
    display: block;
    position: relative;
    margin: 20px auto;
    background-color: black;
    border: 2px solid #FFF;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
}

#room {
    display: block;
    background-color: #FFF;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid #333;
    margin-top: -50px;
}

#welcome {
    display: block;
    text-align: center;
}

#welcome h2 {
    margin: 5px;
}

#welcome h4 {
    margin-top: 10px;
}

#opponentLeave{
    color: #cc0033;
    font-size: 15px;
    display: none;
    text-align: center;
}

#code {
    display: none;
    text-align: center;
}

#yourCode {
    display: none;
}

#nickname {
    font-size: 16px;
    display: block;
    margin: 5px auto;
    padding: 3px 3px;
    border-radius: 5px;
}

#input {
    font-size: 16px;
    display: none;
    margin: 5px auto;
    padding: 3px 3px;
    border-radius: 5px;
}

button {
    display: block;
    font-size: 22px;
    margin: 10px auto 0 auto;
}

button:hover {
    cursor: pointer;
}

#result {
    display: none;
    background-color: #FFF;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid #333;
    margin-top: -50px;
}

#result h2 {
    text-align: center;
    margin: 5px;
    font-size: 2em;
}

#play-again, #another {
    font-size: 17px;
}

#waiting {
    margin: 7px;
    text-align: center;
    display: none;
}
